<div style="padding: 0 2px; box-sizing: border-box; position: fixed;  top: 0%; left: 0; width: 100%; overflow: hidden;background-color: white;">
    <div class="wrapper-md" style="background-color:#333333">
        <table style="width:100%">
            <tr>
                <td style="width:20%"><img src="../../img/login/u62.png"></td>
                <td style="width:40%">
                    <u style="color: #ffffff;font-size: 15px;font-weight:bold">首页</u>
                    <u style="color: #ffffff;font-size: 15px;margin-left:50px;font-weight:bold">语文阅读</u>
                    <u style="color: #ffffff;font-size: 15px;margin-left:50px;font-weight:bold">朗读测评</u>
                    <u style="color: #ffffff;font-size: 15px;margin-left:50px;font-weight:bold">测评中心</u>
                </td>
                <td style="width:40%">
                    <a ui-sref="" style="color: #ffffff;font-weight:bold">[登录]</a>
                    <a ui-sref="yrw.register" style="color: #ffffff;margin-left:15px;font-weight:bold">[注册]</a>
                </td>
            </tr>
        </table>
    </div>
</div>