<divn style="box-sizing: border-box; position: fixed;  bottom: 0%; left: 0; width: 100%; background-color: white;">
    <div class="col-sm-12 table-c" style="background-color: #66CCFF;line-height: 30px;" ng-controller="">
        <table style="width: 70%;margin-top: 35px;margin-bottom: 35px" border="0" cellspacing="0" cellpadding="0" align="center">
        
            <tr>
                <td width="25%" style="color: #ffffff;font-size: 15px;font-weight:bold">©2016 北京乐智启航文化发展有限公司</td>
                <td width="25%" style="color: #ffffff;font-size: 15px;font-weight:bold">联系方式：123-456-7654</td>
                <td width="25%" style="color: #ffffff;font-size: 15px;font-weight:bold">地址 :</td>
            </tr>
            <tr>
                <td width="25%" style="color: #ffffff;font-size: 15px;font-weight:bold">小学教师辅助教学工具</td>
                <td width="25%" style="color: #ffffff;font-size: 15px;font-weight:bold">电子邮箱：helloworld@gmail.com</td>
                <td width="25%" style="color: #ffffff;font-size: 15px;font-weight:bold">北京市海淀区首都师范大学出版社</td>
            </tr>
        </table>
    </div>
</div>