@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('/fonts/sourcesanspro/sourcesanspro-light.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('/fonts/sourcesanspro/sourcesanspro.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('/fonts/sourcesanspro/sourcesanspro-bold.woff') format('woff');
}


.tab_box{ padding: 0 2px; box-sizing: border-box; position: absolute;  top: 45%; left: 0; width: 100%; overflow: hidden;}
.fl-w49-tac{  float:left;width: 49%; text-align: center; }
.fl-w100{float:left;width: 125px;}
.fr-w100{float:right;width: 125px;}
.w100-margin-auto{width: 100%;margin: auto;}
.header_box{ padding: 0 2px; box-sizing: border-box; position: fixed;  top: 0%; left: 0; width: 100%; overflow: hidden;background-color: white;}
.header_box table{ width: 100%; box-sizing: border-box;}
.header_box td{ width:100%;height:35px;padding: 0 2px; box-sizing: border-box;}
.header_box td span{width:35px;text-align: center;}
.header_box td a{height:35px;width:100%;text-align: center;font-weight: bold}
.img_box{margin-top: 35px;height: 200px}
.img_box img{ width: 100%; height: 100%; text-align: center;}
.bottom_box{box-sizing: border-box; position: fixed;  bottom: 0%; left: 0; width: 100%; overflow: hidden;background-color: white;}
.bottom_box table{ width: 100%; box-sizing: border-box;}
.bottom_box td{ width:100%;height:35px;padding: 0 0px; box-sizing: border-box;}
.bottom_box td button{float:right;text-align: center;}
.imformation_box{ padding: 0 2px; box-sizing: border-box; margin-top: 35px;width: 100%; overflow: hidden;background-color: white;}
.imformation_box img{ width: 100%; height: 100%; text-align: center;}
.time { width:100%; text-align:center;height:40px;font-size: 18px;margin-top: 35px;background-color: white;padding-top: 5px}