
<div class="bg-light lter b-b wrapper-md" ng-if="pRanges">
    <table class="moa w_100" ><tr>
        <td class="moa w_30"></td><td class="moa w_40" align="center">发送范围</td>
        <td class="moa w_30"  align="right">
            <button class="btn btn-success" ng-click="opera('first')"><strong>确定</strong></button>
        </td>
    </tr></table>
</div>

<div class="row">
    <div class="col-xs-12">
        <div ui-tree data-drag-enabled="false" id="tree-root">
            <ul class="list-group" ui-tree-nodes ng-model="pDepartments.nodes" data-nodrop-enabled="true">
                <li ng-repeat="node in pDepartments.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="list-group-item">
        <label ng-if="pChecked || (pSeloneclass && node.is_class=='Y')" class=" checkbox-inline i-checks m-b-none">
            <input ng-click="change(node)" ng-model="node.checked" type="checkbox"/><i></i>
        </label>
        <!--<a class=""  ng-click="toggle(this)"><span
                class="fa "
                ng-class="{
          'fa-chevron-right': collapsed,
          'fa-chevron-down': !collapsed
        }"></span></a>-->
        <i class="fa text-warning-dker" ng-class="{'fa-folder-open-o':node.collapsed,'fa-folder-o':!node.collapsed}"></i>
        <a ng-click="getData(node,'d')">{{node.name}}</a>
        <a ng-if="!node.password && !(pSeloneclass && node.is_class=='Y')" class="pull-right" ng-click="getData(node)">
            <span class="fa " ng-class="{'fa-chevron-right':!node.collapsed,'fa-chevron-up':node.collapsed}"></span>
        </a>
    </div>
    <ul class="list-group" ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: !node.collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ul>
</script>