<!-- list -->
<ul class="nav">
    <li class="line dk"></li>
    <li class="line dk"></li>
    <li class="line dk"></li>
    <li>
        <a ui-sref="app.dashboard">
            <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
            <span class="font-bold">总览</span>
        </a>
    </li>


    <li class="line dk"></li>
    
    <li ng-class="{active:$state.includes('app.global')}"
        ng-if="has('global_meta:add')||has('global_meta:edit')||has('global_config:add')||has('global_config:edit')||
        has('level:add')||has('level:edit')||has('permission:add')||has('permission:edit')||
        has('tenant:add')||has('tenant:edit')">
        <a href="" class="auto" >
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-gears text-warning"></i>
            <span>全局配置</span>
        </a>
        <ul class="nav nav-sub dk">   
            <!--         
            <li ui-sref-active="active">
                <a ui-sref="app.global.global_meta" ng-if="has('global_meta:add')||has('global_meta:edit')"> 
                    <span>全局数据字典</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.global.global_config" ng-if="has('global_config:add')||has('global_config:edit')">
                    <span>全局配置</span>
                </a>
            </li>-->
            <li ui-sref-active="active">
                <a ui-sref="app.global.level" ng-if="has('level:add')||has('level:edit')">
                    <span>等级权限</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.global.permission" ng-if="has('permission:add')||has('permission:edit')">
                    <span>功能权限</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.global.tenant" ng-if="has('tenant:add')||has('tenant:edit')">
                    <span>学校管理</span>
                </a>
            </li>
        </ul>        
    </li>

    <li ng-class="{active:$state.includes('app.system')}"
        ng-if="has('metadata:add')||has('metadata:edit')||has('config:add')||has('config:edit')">
        <a href="" class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-gear text-info"></i>
            <span>系统配置</span>
        </a>
        <ul class="nav nav-sub dk">            
            <li ui-sref-active="active">
                <a ui-sref="app.system.metadata" ng-if="has('metadata:add')||has('metadata:edit')">
                    <span>数据字典</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.system.config" ng-if="has('config:add')||has('config:edit')">
                    <span>配置信息</span>
                </a>
            </li>
        </ul>        
    </li>

    <li ng-class="{active:$state.includes('app.system')}"
        ng-if="has('department:add')||has('department:edit')||has('user:add')||has('user:edit')">
        <a href="" class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-building text-success"></i>
            <span>用户管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.system.department" ng-if="has('department:add')||has('department:edit')">
                    <span>班级管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.system.user({property:2})" ng-if="has('user:add')||has('user:edit')">
                    <span>教师管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.system.user({property:2})" ng-if="has('user:add')||has('user:edit')">
                    <span>教师管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.system.user({property:4})" ng-if="has('user:add')||has('user:edit')">
                    <span>学生管理</span>
                </a>
            </li>
        </ul>
    </li> 

    <li ng-class="{active:$state.includes('app.books:manage')}"
        ng-if="has('books:manage')">
        <a href="" class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-book text-info"></i>
            <span>书库管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.books.list" ng-if="has('books:manage')">
                    <span>书库管理</span>
                </a>
            </li>
        </ul>
    </li>

    <li ng-class="{active:$state.includes('app.book_list:manage')}"
        ng-if="has('book_list:manage')">
        <a href="" class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-building text-success"></i>
            <span>书单管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.booklist.list" ng-if="has('book_list:manage')">
                    <span>书单管理</span>
                </a>
            </li>
        </ul>
    </li>

    <li ng-class="{active:$state.includes('app.chinese_reading')}"
        ng-if="has('book_list:student')||has('book_shelves:student')||has('book_list:teacher')">
        <a href="" class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-building text-success"></i>
            <span>语文阅读</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.chinese_reading.book_list" ng-if="has('book_list:student')">
                    <span>书单</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.chinese_reading.book_shelves" ng-if="has('book_shelves:student')">
                    <span>我的书架</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.chinese_reading.book_list" ng-if="has('book_list:teacher')">
                    <span>书单定制</span>
                </a>
            </li>
        </ul>
    </li>

    <li ng-class="{active:$state.includes('app.reading_assess')}"
        ng-if="has('assess:words:student')||has('assess:presentational:student')||has('assess:essay:student')">
        <a href="" class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-building text-success"></i>
            <span>朗读测评</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.reading_assess.words" ng-if="has('assess:words:student')">
                    <span>单字</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.reading_assess.presentational " ng-if="has('assess:presentational:student')">
                    <span>词语</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.reading_assess.essay" ng-if="has('assess:essay:student')">
                    <span>短文</span>
                </a>
            </li>
        </ul>
    </li>

    <li ng-class="{active:$state.includes('app.assess_center')}"
        ng-if="has('assess:center:student')||has('assess:center:teacher')">
        <a href="" class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-building text-success"></i>
            <span>测评中心</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.assess_center.student" ng-if="has('assess:center:student')">
                    <span>测评中心</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.assess_center.teacher" ng-if="has('assess:center:teacher')">
                    <span>测评中心</span>
                </a>
            </li>
        </ul>
    </li>

    <!--

    <li ng-class="{active:$state.includes('app.business')}">
        <a href="" class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-building text-success"></i>
            <span>日常</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.business.customer" ng-if="has('customer:add')||has('customer:edit')">
                    <span>客户管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.business.product" ng-if="has('customer:add')||has('customer:edit')">
                    <span>产品管理</span>
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="" class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-flag text-info"></i>
            <span>示例</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.example.upload">
                    <span>文件上传</span>
                </a>
            </li>
        </ul>
    </li>

    -->
    <li>
        <a ui-sref="app.profile.password">
            <i class="icon-user icon text-default-lter"></i>
            <span>修改密码</span>
        </a>
    </li>

    <!--<li class="line dk hidden-folded"></li>
    <li>
        <a ui-sref="app.profile">
            <i class="icon-user icon text-success-lter"></i>
            <span>个人信息</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.resource">
            <i class="icon-question icon"></i>
            <span>文档资料</span>
        </a>
    </li>-->
</ul>
<!-- / list -->
