<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">全局数据字典</h1>
</div>
<div class="wrapper-md" ng-controller="GlobalMetaCtrl">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline form-validation" name="condForm">
                        <div class="form-group">
                            <div>
                                <select required class="form-control" ng-options="category.key as category.name for category in categories" ng-model="cond.selectedKey">
                                    <option>请选择分类</option>    
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" ng-click="search(page.page)"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline form-validation">
                        <div class="form-group">
                            <button class="btn btn-primary" ng-disabled="condForm.$invalid" ng-click="add()">新增</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">标记</th>
                        <th class="text-center">说明</th>
                        <th class="text-center">值</th>
                        <th class="text-center">状态</th>
                        <th class="text-center">创建于</th>
                        <th class="text-center">修改于</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" ng-repeat="global_meta in global_metas">
                        <td>{{global_meta.key}}</td>
                        <td>{{global_meta.context}}</td>
                        <td>{{global_meta.value}}</td>
                        <td><span class="label label-{{global_meta.status|statusClass}}">{{global_meta.status|status}}</span></td>
                        <td>{{global_meta.create_at}}</td>
                        <td>{{global_meta.update_at}}</td>
                        <td>
                            <div class="btn-group-sm" uib-dropdown>
                                <button class="btn" uib-dropdown-toggle>操作<span class="caret"></span></button>
                                <ul uib-dropdown-menu>
                                    <li><a href="" ng-click="edit(global_meta)">修改</a></li>
                                    <li><a href="" message="是否删除?" confirm="remove(global_meta)">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-4 hidden-xs">
            </div>
            <div class="col-sm-4 text-center">
                <small class="text-muted inline m-t-sm m-b-sm">总共{{page.count}}条,当前{{page.page}}/{{page.total}}页</small>
            </div>
            <div class="col-sm-4 text-right text-center-xs">
                <ul class="pagination pagination-sm m-t-none m-b-none">
                    <li><a href="" ng-click="search(1)"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="" ng-click="search(page.page - 1)"><i class="fa fa-angle-left"></i></a></li>
                    <li><a href="" ng-click="search(page.page + 1)"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="" ng-click="search(page.total)"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>