<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">权限</h1>
</div>
<div class="wrapper-md" ng-controller="PermissionCtrl">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline form-validation" name="condForm">
                        <div class="form-group">
                            <div class="form-group">
                                <div><input class="form-control" placeholder="" ng-model="cond.searchLike"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" ng-click="search(page.page)"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline form-validation">
                        <div class="form-group">
                            <button class="btn btn-primary" ng-click="add()">新增</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">权限标记</th>
                        <th class="text-center">名称</th>
                        <th class="text-center">操作人</th>
                        <th class="text-center">创建于</th>
                        <th class="text-center">更新于</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" ng-repeat="item in permissions">
                        <td>{{item.permission}}</td>
                        <td>{{item.name}}</td>
                        <td><span trans-user='{{item.opt_by}}'></span></td>
                        <td>{{item.create_at|date}}</td>
                        <td>{{item.update_at|date}}</td>
                        <td>
                            <div class="btn-group-sm" uib-dropdown>
                                <button class="btn" uib-dropdown-toggle>操作<span class="caret"></span></button>
                                <ul uib-dropdown-menu>
                                    <li><a href="" ng-click="edit(item)">修改</a></li>
                                    <li><a href="" confirm="remove(item)">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-4 hidden-xs">
            </div>
            <div class="col-sm-4 text-center">
                <small class="text-muted inline m-t-sm m-b-sm">总共{{page.count}}条,当前{{page.page}}/{{page.total}}页</small>
            </div>
            <div class="col-sm-4 text-right text-center-xs">
                <ul class="pagination pagination-sm m-t-none m-b-none">
                    <li><a href="" ng-click="search(1)"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="" ng-click="search(page.page - 1)"><i class="fa fa-angle-left"></i></a></li>
                    <li><a href="" ng-click="search(page.page + 1)"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="" ng-click="search(page.total)"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="permission_add.html">
<div class="wrapper-md">
    <form name="form" class="form-validation" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <label class="text-right">权限标记</label>
                <div><input class="form-control" placeholder="" ng-model="permission.permission"></div>
            </div>
            <div class="form-group">
                <label class="text-right">名称</label>
                <div><input class="form-control" placeholder="" ng-model="permission.name"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
        </div>
    </form>
</div>
</script>

<script type="text/ng-template" id="permission_edit.html">
<div class="wrapper-md">
    <form name="form" class="form-validation" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <label class="text-right">权限标记</label>
                <div><input class="form-control" placeholder="" ng-model="permission.permission"></div>
            </div>
            <div class="form-group">
                <label class="text-right">名称</label>
                <div><input class="form-control" placeholder="" ng-model="permission.name"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
        </div>
    </form>
</div>
</script>