<div class="wrapper-md" ng-controller="ExampleCtrl">
	<form name="form" class="form-validation" novalidate>
		<div class="form-group">
			<label class="text-right">文件{{file}}</label>
			<div upload="test" ng-model="file"></div>
		</div>
		<div class="form-group">
			<label class="text-right">导入{{importFile}}</label>
			<div import ng-model="importFile"></div>
			<button type="button" class="btn btn-default" ng-click="importContent()">查看导入内容</button>
		</div>
		<div class="form-group">
			<label class="text-right">base64图片</label>
			<div image ng-model="imageUrl"></div>
			<img ng-src="{{imageUrl}}">
		</div>
	</form>
</div>