<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  ">
  <!-- main -->
  <div class="col">   
  </div>
  <!-- / main -->
  <!-- right col -->
  <!-- / right col -->
</div>
