
<div  class="" style="position:fixed; top:0; left:0; z-index:-1; width:100%; height: 100%; background: url('../img/login_bg.jpg') no-repeat; background-size:100% 100%;"></div>

<div class="container w-xxl w-auto-xs" ng-controller="SigninCtrl" ng-init="app.settings.container = false;" style="margin-top:100px;">
    <a href class="navbar-brand block m-t"></a>
    <div class="m-b-lg">
        <form name="form" class="form-validation">
            <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError}}
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="text" placeholder="用户名/手机号" class="form-control no-border" ng-model="uname" required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="密码" class="form-control no-border" ng-model="passwd" required>
                </div>
            </div>
            <div class="text-center m-t m-b">
                <input type="checkbox" ng-model="remember">记住密码
                <a ui-sref="access.forgotpwd" style="margin-left:50px">忘记密码?</a>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid'>登录</button>
            
            <div class="line line-dashed"></div>
            <a ui-sref="" class="btn btn-lg btn-default btn-block">注册</a>
            <!--
            <a ui-sref="access.signup" class="btn btn-lg btn-default btn-block">注册</a>
            -->
        </form>
    </div>
</div>
