
<div  class="" style="position:fixed; top:0; left:0; z-index:-1; width:100%; height: 100%; background-color: #FFFFFF; background-size:100% 100%;"></div>

<div style="width:90%; height: 100%; ">
    <font color="red" size="3" style="margin-left:10px">乐智起航阅读工具账号注册</font>
    <font color="red" size="3" style="margin-left:50%">已有账号</font>
    <button ui-sref="access.signin" style="background-color:#FFA500"><font style="margin:7px 7px 7px 7px">登录</font></button>
    <hr style="height:2px;border:none;border-top:2px ridge #FFA500">
</div>

<div class="container w-xxl w-auto-xs" ng-controller="SignupCtrl"
     ng-init="app.settings.container = false;">
    <div class="m-b-lg">
        
        <form name="form" class="form-validation">
            <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError}}
            </div>
            <div class='form-group'>
                <div>
                    <select class="form-control" ng-model="user.tenant_id" required ng-options="data.id as data.alias for data in tenants">
                        <option value="">请选择所在学校</option>
                    </select>
                </div>
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input placeholder="请输入您的用户名" class="form-control no-border" ng-model="user.user_name" required>
                </div>
                <div class="list-group-item">
                    <input placeholder="请输入您的手机号" class="form-control no-border" ng-model="user.tel" required>
                </div>
                <div class="list-group-item">
                    <input placeholder="请输入手机号接收到的验证码" class="form-control no-border" ng-model="user.tel_code" >
                    <i style="margin-left:70%;background-color:#FFA500">获取验证码</i>
                </div>
                <!--
                <div class="list-group-item">
                    <input placeholder="姓名" class="form-control no-border" ng-model="user.display_name" required>
                </div>-->
                <div class="list-group-item">
                    <input type="password" placeholder="请输入密码" class="form-control no-border"
                           ng-model="user.passwd" required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="再次确认密码" class="form-control no-border"
                           ng-model="user.passwd2" required>
                </div><font color="red">{{passwd_mes}}</font>
            </div>

            <div class="text-center m-t m-b">
                <input type="radio" name="radio" value='1' ng-model="user.property">我是老师
                <input type="radio" name="radio" value='3' ng-model="user.property" style="margin-left:50px">我是学生
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="signup()"
                    ng-disabled='form.$invalid'>注册
            </button>
            <div class="line line-dashed"></div>
            <!--
            <p class="text-center">
                <small>您是否已经有帐号?</small>
            </p>
            <a ui-sref="access.signin" class="btn btn-lg btn-default btn-block">登录</a>
            -->
        </form>
    </div>
</div>