
<div  class="" style="position:fixed; top:0; left:0; z-index:-1; width:100%; height: 100%; background-color: #FFFFFF; background-size:100% 100%;"></div>

<div style="width:90%; height: 100%; ">
    <font color="red" size="3" style="margin-left:10px">乐智起航阅读工具密码找回</font>
    <font color="red" size="3" style="margin-left:50%">已有账号</font>
    <button ui-sref="access.signin" style="background-color:#FFA500"><font style="margin:7px 7px 7px 7px">登录</font></button>
    <hr style="height:2px;border:none;border-top:2px ridge #FFA500">
</div>

<div class="container w-xxl w-auto-xs" ng-controller="ForgotpwdCtrl"
     ng-init="app.settings.container = false;">
    <div class="m-b-lg">
        
        <form name="form" class="form-validation">
            <div class=" wrapper text-center">
                请输入您要找回你密码的账号
            </div>
            <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError}}
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input placeholder="请输入您注册的手机号" class="form-control no-border" ng-model="user.tel" required>
                </div>
                <div class="list-group-item">
                    <input placeholder="请输入验证码" class="form-control no-border" ng-model="user.tel_code" >
                    <i ng-click="getValidCode()" style="margin-left:70%;background-color:#FFA500">获取验证码{{user.tel}}</i>
                </div>
                <!--
                <div class="list-group-item">
                    <input placeholder="姓名" class="form-control no-border" ng-model="user.display_name" required>
                </div>-->
                <div class="list-group-item">
                    <input type="password" placeholder="请输入新密码" class="form-control no-border"
                           ng-model="user.passwd" required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="再次确认密码" class="form-control no-border"
                           ng-model="user.passwd2" required>
                </div><font color="red">{{passwd_mes}}</font>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="findpwd()"
                    ng-disabled='form.$invalid'>确认修改
            </button>
            <div class="line line-dashed"></div>
        </form>
    </div>
</div>