<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">分配&nbsp;&nbsp;&nbsp;授课教师：<strong>{{user.name}}</strong></div>
        <div class="panel-body">
            <form name="form" class="">
                <div class="form-group col-xs-12">
                    <label class="control-label">授课班级 <i class="fa fa-asterisk text-warning"></i></label>
                    <div>
                        <div class="form-group col-xs-4" ng-repeat="group in departmentsGroup">
                            <select class="form-control input-sm" ng-model="group.selected"
                                    ng-options="department as department.name for department in group.departments"
                                    ng-change="departmentChange($index)" required>
                                <option value="">请选择</option>
                            </select>
                        </div>
                        <span ng-show="showCt"><label class="control-label">班主任</label>
                            <input type="checkbox" ng-model="teacherrole.checked"/>
                        </span>
                    </div>
                </div>
                <div class="form-group col-xs-4">
                    <label class="control-label">教授科目 <i class="fa fa-asterisk text-warning"></i></label>
                    <select class="form-control input-sm" ng-model="teacherrole.subject" required>
                        <option value="">请选择科目</option>
                        <option ng-repeat="c in depTeachers" value="{{c.value}}">{{c.context}}
                        </option>
                    </select><button class="btn btn-sm btn-success" ng-click="addSubject()" ng-disabled="form.$invalid">添加</button>
                </div>

                <div class="form-group col-md-12">
                    <label class="control-label"><strong>{{user.name}}</strong>任课信息</label>
                    <div class="clearfix">
                        <div class="m-t-md" ng-repeat="trl in trList">
                            <!--<span department="{{trl.department}}"></span>-->
                            {{subjectList|transMetadata:'subject':trl.subject}}&nbsp;&nbsp;<span ng-if="trl.role=='A'">老师</span><span ng-if="trl.role=='B'">班主任</span>
                            <i ng-if="trl.subject" class="fa fa-times text-danger" ng-click="removeSubject(trl)"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer text-center" >
            <button class="btn btn-sm btn-success" ng-click="save()" >确定</button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-sm btn-default" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>