<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">修改密码</h1>
</div>
<div class="wrapper-md" ng-controller="ProfileCtrl">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group col-xs-2">
                原密码：
            </div>
            <div class="form-group col-xs-10">
                <input required class="form-control" type="password" ng-model="user.password">
            </div>
            <div class="form-group col-xs-2">
                新密码：
            </div>
            <div class="form-group col-xs-10">
                <input required class="form-control" type="password" ng-model="user.new_password">
            </div>
            <div class="form-group col-xs-2">
                确认密码：
            </div>
            <div class="form-group col-xs-10">
                <input required class="form-control" type="password" ng-model="user.new_password2">
            </div>
            <div class="panel-footer text-right">
                <button class="btn btn-info btn-md" ng-click="save()" >保存</button>
                <button class="btn btn-default btn-md" type="reset" >重置</button>
            </div>
        </div>
    </div>
</div>