
<div ng-controller="UserCtrl" style="margin-top:50px">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3"><span ng-if="property==4">学生</span><span ng-if="property==2">教师</span>管理</h1>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                当前终端账号&nbsp;<span class="label label-success">{{myself.name}}</span>&nbsp;所在部门<span ng-repeat="ud in userDepartment">&nbsp;<span class="label label-info">{{ud.name}}</span>&nbsp;</span>
            </div>

            <div class="hbox hbox-auto-xs bg-light">
                <div class="col w lter b-r">
                    <div class="vbox">
                        <div class="wrapper b-b b-light">
                            <div class="font-thin h4">组织结构</div>
                        </div>
                        <div class="row-row" style="width: 200px;height: 400px;">
                            <div class="cell scrollable hover">
                                <div deps-tree p-departments="departments" p-depusers="depusers" p-selectedp="parentDepartment" p-property="{{property}}" p-total="page.count" p-tpage="page.total" p-limit="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="vbox">
                        <div class="row-row">
                            <div class="panel-heading">
                                <i class="fa fa-list"></i>&nbsp;&nbsp;当前选中部门&nbsp;<span class="label label-info">{{parentDepartment.name}}</span>
                                &nbsp;包含<span ng-if="property==4">学生</span><span ng-if="property==2">教师</span>

                                <button ng-if="parentDepartment&&( (property!=4) || (property==4&&parentDepartment.property==3) )" class="btn btn-primary btn-sm" ng-click="add()">
                                    <i class="fa fa-plus"></i>&nbsp;新增
                                </button>
                            </div>
                            <table class="table table-striped m-b-none">
                                <thead>
                                <tr>
                                    <td>姓名</td>
                                    <td>电话</td>
                                    <td>操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="user in depusers">
                                    <td>{{user.name}}</td>
                                    <td>{{user.tel}}</td>
                                    <td>
                                        <a href=""><i class="fa fa-edit" title="修改信息" ng-click="edit(user)"></i></a>
                                        &nbsp;&nbsp;&nbsp;
                                         <a ng-if="user.property!=4" href=""><i class="fa fa-sign-in" title="分配科目" ng-click="assignSubject(user)"></i></a>
                                        &nbsp;&nbsp;&nbsp;
                                        <a href="" ><i class="fa fa-trash-o" title="删除" ng-click="remove(user)"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="center">
                                        总共{{page.count}}条,当前{{page.page}}/{{page.total}}页
                                        <a href="" ng-click="search(1)"> 首页</a>
                                        <a href="" ng-click="search(page.page - 1)"> 上一页</a>
                                        <a href="" ng-click="search(page.page + 1)"> 下一页</a>
                                        <a href="" ng-click="search(page.total)"> 尾页</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script type="text/ng-template" id="remove_sel.html">
<div class="wrapper-md">
    <form name="form" class="form-validation" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <label class="text-center m-t m-b">教师删除</label>
            </div>
            <div class="form-group">
                <input type="radio" name="radio" value='1' ng-model="user.remove_sel">仅从本部门删除
                <input type="radio" name="radio" value='2' ng-model="user.remove_sel" style="margin-left:50px">从系统中删除
            </div>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;确定</button>
            <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
        </div>
    </form>
</div>   
</script>

<!--
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">用户管理</h1>
</div>
<div class="wrapper-md" ng-controller="UserCtrl">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline form-validation" name="condForm">
                        <div class="form-group">
                            <input class="form-control" placeholder="" ng-model="cond.like">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" ng-click="search(page.page)"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline form-validation">
                        <div class="form-group">
                            <button class="btn btn-primary" ng-disabled="condForm.$invalid" ng-click="add()">新增</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">名称</th>
                        <th class="text-center">等级</th>
                        <th class="text-center">状态</th>
                        <th class="text-center">处理</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" ng-repeat="item in users">
                        <td>{{item.name}}</td>
                        <td><span trans-level="{{item.level}}"></span></td>
                        <td><span class="label label-{{item.status|statusClass}}">{{item.status|status}}</span></td>
                        <td>
                           <div class="btn-group-sm" uib-dropdown>
                               <button class="btn" uib-dropdown-toggle>操作<span class="caret"></span></button>
                               <ul uib-dropdown-menu>
                                   <li><a href="" ng-click="edit(item)">修改</a></li>
                                   <li><a href="" confirm="remove(item)">删除</a></li>
                               </ul>
                           </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-4 hidden-xs">
            </div>
            <div class="col-sm-4 text-center">
                <small class="text-muted inline m-t-sm m-b-sm">总共{{page.count}}条,当前{{page.page}}/{{page.total}}页</small>
            </div>
            <div class="col-sm-4 text-right text-center">
                <ul class="pagination pagination-sm m-t-none m-b-none">
                    <li><a href="" ng-click="search(1)"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="" ng-click="search(page.page - 1)"><i class="fa fa-angle-left"></i></a></li>
                    <li><a href="" ng-click="search(page.page + 1)"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="" ng-click="search(page.total)"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
-->