<div class="wrapper-md">
    <div class="text-center">
        <strong>新增图书</strong>
    </div>
    
    <form name="form" class="form-validation" novalidate>
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label class="control-label">图片展示</label>
                    <div image ng-model="book.picture"></div>
                    <img ng-src="{{book.picture}}">
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="control-label">图书名称</label>
                        <input class="form-control input-sm" required ng-model="book.name">
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">图书类型</label>
                            <select placeholder="请选择" multiple="multiple" selectize="{labelField:'context',valueField:'value',searchField:'context'}"  options="bookTypeList"
                            ng-model="book.book_types"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="control-label">作者</label>
                        <input class="form-control input-sm" ng-model="book.author">
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">著作方式</label>
                        <input class="form-control input-sm" ng-model="book.authoring_ways">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="control-label">名家推荐语</label>
                        <textarea class="form-control input-sm" rows="2" placeholder="名家推荐语" ng-model="book.recommended_language"></textarea>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">内容简介</label>
                        <textarea class="form-control input-sm" rows="2" placeholder="内容简介" ng-model="book.introduction"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="control-label">描述</label>
                        <textarea class="form-control input-sm" rows="2" placeholder="描述" ng-model="book.description"></textarea>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">片段赏析</label>
                        <textarea class="form-control input-sm" rows="2" placeholder="片段赏析" ng-model="book.appreciation"></textarea>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="control-label">出版社</label>
                        <select placeholder="请选择" selectize="{labelField:'context',valueField:'value',searchField:'context'}" options="pressList"
                            ng-model="book.press"></select>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label text-right">积分</label>
                        <input class="form-control input-sm" ng-model="book.integral">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label calss="control-label">出版时间</label>
                        <input mydatepicker ng-model="book.publish_at" class="form-control input-sm" placeholder="出版时间">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
        </div>
    </form>
    
        
    
</div>