
<div ng-controller="BookManageCtrl" class=" wrapper-md" style="margin-top:50px;">
    <div class="bg-light lter b-b">
        <h1 class="m-n font-thin h3">图书管理</h1>
        <button type="button" class="btn btn-primary" ng-click="add()" style="margin-left:85%">新增图书</button>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading text-left">
            
            <div class="form-group col-md-2">
                <select placeholder="请选择图书类型" multiple="multiple" selectize="{labelField:'context',valueField:'value',searchField:'context'}"  options="bookTypeList"
                            ng-model="cond.book_types"></select>
            </div>
            <div class="form-group col-sm-6">
                <input type="text" class="form-control input-sm" placeholder="综合查询框" ng-model="cond.like">
            </div>
            <button class="btn btn-primary btn-sm " type="button" ng-click="search(1)">
                查询
            </button>
        </div>


        <div class="panel-body">
            <div class="list-group" ng-repeat="book in books">
                <div class="list-group-item" style="margin:-1px">
                    <table border="0" cellspacing="0" cellpadding="0"  width="90%">
                        <tr>
                            <td width="20%"><img ng-src="{{book.picture}}"></td>
                            <td width="70%">
                                <table width="100%" style="line-height: 30px;">
                                    <tr>
                                        <td width="12%">书名：</td>
                                        <td width="38%">{{book.name}}</td>
                                        <td width="12%">作者：</td>
                                        <td width="38%">{{book.author}}{{book.authoring_ways}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">图书类型：<span trans-more-metadata trans-key='book:type' trans-vals='{{book.book_type}}'></span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">描述：{{book.description}}</td>
                                    </tr>
                                    <tr>
                                        <td width="12%">出版社：</td>
                                        <td width="38%">{{book.press}}</td>
                                        <td width="12%">出版时间：</td>
                                        <td width="38%">{{book.publish_at}}</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <a href="" ng-click="edit(book)">修改</a>|
                                <a href="" ng-click="remove(book)">删除</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                </div>
                <div class="col-sm-4 text-center">
                    <small class="text-muted inline m-t-sm m-b-sm">总共{{page.count}}条,当前{{page.page}}/{{page.total}}页</small>
                </div>
                <div class="col-sm-4 text-left text-center-xs">
                    <ul class="pagination pagination-sm m-t-none m-b-none">
                        <li><a href="" ng-click="search(1)"><i class="fa fa-angle-double-left"></i></a></li>
                        <li><a href="" ng-click="search(page.page - 1)"><i class="fa fa-angle-left"></i></a></li>
                        <li><a href="" ng-click="search(page.page + 1)"><i class="fa fa-angle-right"></i></a></li>
                        <li><a href="" ng-click="search(page.total)"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div>
        </div>
        </div>
    </div>
</div>